* {
  margin: 0;
  padding: 0;
  font-family: barlow, sans-serif;
  text-align: center;
  font-family: Oswald;
}

/* .primary-button{
  color: #ffff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #412230,#ba4979
  );
  padding: 12px 30px; 
  border-radius: 30px;
  border:none;
}

.primary-button :hover{
  background: linear-gradient(260deg, #623448, #ba4979
  );
} */

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container{
  width: 80px;
  margin: 15px;

}
.navbar .logo-container .logo{
  width: 100%;
}

.nav-btn{
  background:#b766e9;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding: 10px 10px;
  color: #834660;
  margin: 20px;
}
.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(139, 7, 220, 0.65) 0%,
    rgba(0,0,0,0)100%
  );

	background-size: 90%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
	animation: gradient 15s ease infinite;
	height: 100vh;
  background-image: url(./assets/jules-banner.avif);
}

/* CSS */
.primary-button{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primary-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.primary-button :after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* CSS */
.button-40 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  width: 400px;
  }

.button-40::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button-40:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button-40:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}


/*authmodal css*/
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  padding: 60px 40px;
  transform: translate(-50%, -50%);
  background: #1a1a1a;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  gap: 30px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
  font-family: barlow;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message, 
.signin {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-family: barlow ;
}

.signin a {
  text-align: center;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 25px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  /* padding: 20px 05px 05px 10px; */
  padding: 10px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  margin-top: 5px;
  font-size: 7px;
  font-family: barlow;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 100px;
  cursor: text;
  transition: 0.3s ease;
  align-items: center;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
  
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  transform: .3s ease;
  background-color: #00bfff;
  margin-top: 5px;
  width: 100%;
  font-family: barlow;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
}

.close-icon__line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.close-icon__line-1 {
  transform-origin: left center;
}

.close-icon__line-2 {
  transform-origin: right center;
}

.close-icon:hover .close-icon__line-1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon:hover .close-icon__line-2 {
  transform: translate(-50%, -50%) rotate(-45deg);
} */

.close-icon {
  cursor: pointer;
  font-size: 24px;
  animation: spinPulse 0.5s linear infinite; /* Customize animation name */
  color: #00bfff;
}

@keyframes spinPulse {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.primary-titele{
  background-color: white;
  font-family: barlow;
  width: 50%;
  color: #090909;
}

/*onboarding css*/

.onboarding{
  /* border-top: solid 1px grey;
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #009087;
  height: 85%; */


  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }


}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 05px;
  width: 20%;
  text-align: start;
}

.onboarding form input {
  padding: 10px ;
  margin: 05px 0;
  font-size: 10px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 7px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
  font-size: 10px;
}

.onboarding form input[type=radio] {
  display: none;
}

.onboarding form input[type=number] {
  width: 10%;
}

.onboarding form input[type=radio]:checked + label {
  border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type=submit]:hover {
  background-color: rgb(235, 235, 235);
}

.onboarding form input[type=submit]:active {
  background-color: rgb(226, 115, 115);
}

.onboarding form .photo-container img {
  width: 100%
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  background-color: rgb(10, 231, 216);
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  
}

.button2:hover {
  color: #ffffff;
  border: 1px solid rgb(10, 231, 216);
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* ===tinder card css===*/

.dashboard {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#fff, #999);
  background: linear-gradient(#e66465, #9198e5);
  

}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin-top: 20px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  margin-left: 60%;
  margin-top: 20px;
}


.cardContent {
  width: 100%;
  height: 100%;
}


.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 55%;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
/*-------- Chat Container --------*/
.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}

.chat-container .chat-container-header {
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.chat-container .option {
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 4px rgb(243, 33, 33);
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
  padding: 20px;
  height: 60vh;
  overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-container-header h3{
  color: #48ff00;

}